.searchBox {
  display: flex;
  justify-content: flex-end;
}
.searchBox input {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: white;
  outline: none;
}

@media (max-width: 425px) {
  .searchBox {
    width: 50%;
    transition: all 0.3s ease;
  }
  .searchBox input {
    width: 100%;
  }
  .hidden {
    opacity: 0;
  }
}
