.App {
  background-color: aquamarine;
  display: grid;
  height: 100vh;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 40px 1fr;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: antiquewhite;
  height: 40px;
  grid-column: span 2;
}

.modal_container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.modal {
  position: relative;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(157, 143, 169);
}
.close_modal {
  top: 10px;
  right: 7px;
  position: absolute;
}

.hide_modal {
  opacity: 0;
  z-index: -2;
}

.show_modal {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
