.App {
  background-color: aquamarine;
  display: grid;
  height: 100vh;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 40px 1fr;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: antiquewhite;
  height: 40px;
  grid-column: span 2;
}
