.notes_app {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}
img {
  display: block;
  width: 15px;
  height: 15px;
}
.App {
  font-family: sans-serif;
  background-color: rgb(162, 162, 162);
  display: grid;
  height: 100vh;
  width: 700px;
  color: #393939;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 40px 1fr;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #d6d6d6;
  height: 40px;
  grid-column: span 2;
}

.modal_container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
}
.menu {
  display: none;
  border: none;
}
@media (max-width: 425px) {
  .buttons {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    background-color: #d6d6d6;
    position: absolute;
    top: 40px;
    height: 31px;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    left: 0;
  }
  .menu {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    border-radius: 4px;
  }
}
.buttons button {
  background-color: #f4f4f4;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
}
.buttons button:hover {
  opacity: 0.8;
}
.modal {
  width: 140px;
  border-radius: 4px;
  position: relative;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #d6d6d6;
}
.modal button {
  background-color: #f4f4f4;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
}
.close_modal {
  top: 10px;
  right: 7px;
  position: absolute;
}

.hide_modal {
  opacity: 0;
  z-index: -2;
}

.show_modal {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
